body{
    
    margin: 5px 5px;
    color: black;
}

html{
    scroll-behavior: smooth;
}



/* header styling */ /* and nav bar */
 
header nav a{
    text-decoration: none;
    font-size: large;
    color: azure;
    padding: 5px 10px;

}

header nav a:hover{
    background-color: aliceblue;
    color: black;
}


header{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 85%;
    padding: 5px 10px;
}






/* webphoto */

#webphoto{
    width: 100% ;
}







/* main heading  */
.title{
    text-align: start;
    width: 35%;
    margin-bottom: 10%;
    box-shadow: 5px 5px 15px;
    padding: 10px;
    background-color: azure;
    border-radius: 10px;
    position: absolute;
    bottom: 1%;
}

h1 span:hover{
    text-decoration: underline rgb(66, 66, 223) 2px;
}







/* main */
main{
    padding: 30px 50px 50px 50px;
}


main section a{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: end;
    margin-left: 440px;
}





/* Technical skills stars */
div ol li i{
    margin-left: 8px;

}


aside{
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px ;
}






/* All footer Styling */

footer::selection,main::selection{
    background-color: black;
    color: aliceblue;
}
footer{
    padding:80px 50px 20px 50px
}














@media screen and (max-width: 1096px) {
    #softskill ol li{
        padding-bottom: 10px;
    }
    main section a{
        margin-left: 400px;
    }
    
  }




 



@media screen and (max-width:991px) {
    
    main section a{
        margin-left: 240px;
    }
    
}


@media screen and (max-width:870px) {
    
    .title{
        position:absolute;
        bottom: 100px;
        
    }
    
}

@media screen and (max-width:809px) {
    
    main section a{
        margin-left: 220px;
    }
    
}

@media screen and (max-width:752px) {
    
    main section a{
        margin-left: 170px;
    }
    .title{
        position:absolute;
        bottom: 200px;
        
    }
    
}


@media screen and (max-width:669px) {
    
     main {
        display: block !important;
    }
    article main article img{
        width: 90%;
    }
   main aside{
    width: 530px;
   }
   main section{
    width: 520px !important;
   }
    main section a{
        margin-left: 300px;
        
    }
    footer section{
        display: block !important;
    }
    footer section p{
        width: 100% !important;
        text-align: center;
    }
}




@media screen and (max-width:623px) {
    
  main {
    margin: 3% !important;
    padding: 0px !important;
    text-align: start;
   }
    .title{
        position:absolute;
        bottom: 290px;
        
    }
    
}

@media screen and (max-width:599px) {
    .mainbody{
        padding: 0px !important;
    }
    main section aside{
        width: 90% !important;
        margin: 0 auto !important;
    }
    
}



@media screen and (max-width:563px) {
   header{
    display:block !important;
   }
   nav {
    width:max-content !important;
    margin: 0 auto;
   }
   header h2{
    margin: 0 auto 3% auto;
   }
   .title{
        position:relative;
        top: 0;
        width: 100%;
        
    }
     main section a{
        margin-left: auto;
        
    }
}




@media screen and (max-width:452px) {
    nav {
    margin-left: auto;
    
   }
    main aside {
        display: block !important;
    }
    
}


@media screen and (max-width:438px) {
   nav{
    margin-left: auto !important;
    padding: 0px !important;
   }
   header{
    padding: 0px !important;
   }
    
}






























